@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    padding: 0;
    margin: auto;
}
.form {

    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 5% auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #a4bdfc;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #0073e5;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}
body {
    background: #a4bdfc;
    background: -webkit-linear-gradient(right, #a4bdfc, #0073e5);
    background: linear-gradient(to left, #a4bdfc, #0073e5);
    background: -moz-linear-gradient(right, #a4bdfc, #0073e5);
    background: -o-linear-gradient(right, #a4bdfc, #0073e5);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.user-session {
    background: #FFFFFF;
    border-radius: 5px;
    display: block;
    padding: 10px 20px;
    height: 70px ;
    width: 250px;
}
.user-session p {
    padding: 0;
    margin: 0;
    font-size: 14px;
}
.user-name,
.user-role{
    display: inline-block;
    width: 45%;
    padding: 5px;
    background: #f2f2f2;
}

button {
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #a4bdfc;
    width: 100%;
    border: 0;
    padding: 8px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
input.button {
    background: #a4bdfc;
    color: #FFFFFF;
}
button:hover,
.button:hover {
    background: #0073e5;
    color: #fff;
    cursor: pointer;
}
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}
th {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
td {
    background: #D8E6F3;
    padding: 15px;
}
th:first-child, td:first-child {
    text-align: left;
}
.wrapper {
    display: block;
    width: 50%;
    margin: 0 auto;
}
.button.add-new {
    border: 1px solid #fff;
    display: block;
    width: 200px;
    margin: 20px auto;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
}
select {
    display: block;
    width: 100%;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

input[type="text"]:required:valid {
    border-color: #008000;
}
input.err,
select.err {
    border: 1px solid #ff0000;
}

.users-personal-data td input,
.users-personal-data td select {
    height: 20px;
    vertical-align: middle;
    display: block;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    margin: 0;
    text-align: center;
}
.users-personal-data td select {
    padding: 11px;
}