<web-app>
    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.EchoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Users Controller Servlet</servlet-name>
        <servlet-class>ru.job4j.crudservlet.servlets.UserGetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Users Add Controller</servlet-name>
        <servlet-class>ru.job4j.crudservlet.servlets.UsersAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Removal</servlet-name>
        <servlet-class>ru.job4j.crudservlet.servlets.Removal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editing</servlet-name>
        <servlet-class>ru.job4j.crudservlet.servlets.Editing</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Users Controller Servlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Users Add Controller</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Removal</servlet-name>
        <url-pattern>/user/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editing</servlet-name>
        <url-pattern>/user/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>
</web-app>